/* About – from scss/pages/_page-banner.scss, _about.scss, _choose.scss, _call-to-action.scss, _testimonials.scss, _brand.scss */

/* ========== Section Title (_common.scss) ========== */
.section-title {
  margin-top: -5px;
}

.section-title .sub-title {
  text-transform: uppercase;
  color: #222222;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  position: relative;
  padding-left: 15px;
  display: inline-block;
}

@media only screen and (max-width: 575px) {
  .section-title .sub-title {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.section-title .sub-title strong {
  color: #4CAF50;
}

.section-title .sub-title::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 15px;
  background-color: #0046e2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.section-title .main-title {
  font-size: 52px;
  font-weight: 700;
  color: #000000;
  line-height: 1.1;
  margin-top: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title .main-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 575px) {
  .section-title .main-title {
    font-size: 34px;
  }
}

.section-title p {
  margin-top: 20px;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .section-title p br {
    display: none;
  }
}

.section-title.section-title-white .sub-title {
  color: #ffffff;
}

.section-title.section-title-white .sub-title::before {
  background-color: #ffffff;
}

.section-title.section-title-white .main-title {
  color: #ffffff;
}

/* ========== 4.10 Page Banner (_page-banner.scss) ========== */
.page-banner-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 280px;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-banner-section {
    padding-top: 180px;
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner-section {
    padding-top: 180px;
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 575px) {
  .page-banner-section {
    padding-top: 140px;
  }
}

.page-banner-section::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  opacity: 0.92;
  z-index: -1;
}

.page-banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 575px) {
  .page-banner-wrapper {
    display: block;
  }
}

.page-banner-content {
  max-width: 470px;
  padding-right: 30px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .page-banner-content {
    padding-right: 10px;
    max-width: 280px;
  }
}

.page-banner-content .section-title .main-title {
  font-size: 80px;
  line-height: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-banner-content .section-title .main-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner-content .section-title .main-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .page-banner-content .section-title .main-title {
    font-size: 36px;
  }
}

.page-banner-content .breadcrumb {
  margin-bottom: 0;
  margin-top: 10px;
}

.page-banner-content .breadcrumb .breadcrumb-item {
  font-size: 16px;
  letter-spacing: 2px;
  color: #4b4b4b;
}

.page-banner-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '//';
}

@media only screen and (max-width: 575px) {
  .page-banner-images {
    text-align: center;
    padding: 0 15px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner-images img {
    width: 350px;
  }
}

/* ========== 4.2 About (_about.scss) ========== */
.about-wrapper {
  margin-top: -50px;
}

.about-images {
  position: relative;
  margin-top: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-images {
    padding-top: 140px;
  }
}

.about-images .exprience {
  width: 140px;
  height: 140px;
  background: linear-gradient(135deg, #333333 0%, #4CAF50 100%);
  border-bottom: 3px solid #4CAF50;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 1500px),
  only screen and (min-width: 1200px) and (max-width: 1499px) {
  .about-images .exprience {
    right: -70px;
  }
}

@media only screen and (max-width: 575px) {
  .about-images .exprience {
    width: 100px;
    height: 100px;
  }
}

.about-images .exprience p {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.3;
  font-family: 'Rajdhani', sans-serif;
}

@media only screen and (max-width: 575px) {
  .about-images .exprience p {
    font-size: 18px;
  }
}

.about-images .exprience p strong {
  color: #4CAF50;
  font-size: 30px;
}

@media only screen and (max-width: 575px) {
  .about-images .exprience p strong {
    font-size: 24px;
  }
}

.about-images.images-03 .exprience {
  right: 10px;
}

.about-content {
  max-width: 450px;
  margin-left: auto;
  margin-top: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .about-content {
    margin-left: 0;
  }
}

.about-content.content-02 {
  max-width: none;
}

.about-content > p {
  margin-top: 15px;
}

.about-content .btn {
  margin-top: 45px;
}

.about-count {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-count.about-count-02 {
  padding-top: 65px;
}

@media only screen and (max-width: 767px) {
  .about-count.about-count-02 {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .about-count.about-count-02 .single-count {
    width: 50%;
  }
}

.about-count .single-count {
  padding-left: 18px;
  position: relative;
  margin-top: 25px;
}

.about-count .single-count::before {
  position: absolute;
  content: '';
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #cf0000;
  left: 0;
}

.about-count .single-count .count {
  display: block;
  font-size: 40px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 0.9;
  white-space: nowrap;
}

@media only screen and (max-width: 575px) {
  .about-count .single-count .count {
    font-size: 30px;
  }
}

.about-count .single-count p {
  font-size: 24px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 1;
  white-space: nowrap;
}

@media only screen and (max-width: 575px) {
  .about-count .single-count p {
    font-size: 20px;
  }
}

.about-images-2 {
  margin-top: -25px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .about-images-2 {
    margin-top: 25px;
  }
}

/* ========== 4.5 Why Choose (_choose.scss) ========== */
.choose-wrapper {
}

.choose-content {
  max-width: 400px;
}

.choose-content p {
  margin-top: 20px;
}

.choose-content img {
  margin-top: 20px;
}

.single-choose-item {
  display: flex;
  margin-top: 60px;
}

.single-choose-item .item-icon img {
  width: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (max-width: 767px) {
  .single-choose-item .item-icon img {
    width: 50px;
  }
}

.single-choose-item .item-content {
  padding-left: 20px;
  flex: 1;
  margin-top: -5px;
}

.single-choose-item .item-content .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-choose-item .item-content .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .single-choose-item .item-content .title {
    font-size: 22px;
  }
}

.single-choose-item .item-content p {
  margin-top: 12px;
}

/* ========== 4.4 Call To Action (_call-to-action.scss) ========== */
.call-to-action-wrapper {
  background: linear-gradient(135deg, #000000 0%, #4CAF50 100%);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .call-to-action-wrapper {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .call-to-action-wrapper {
    border-radius: 15px;
  }
}

.call-to-action-content {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 40px 70px;
  height: 385px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (max-width: 767px) {
  .call-to-action-content {
    padding: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .call-to-action-content {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .call-to-action-content {
    padding: 30px;
  }
}

.call-to-action-content .content-wrapper .section-title .main-title {
  margin-top: 20px;
}

.call-to-action-content .content-wrapper p {
  color: #d8d6d6;
  margin-top: 20px;
}

.call-to-action-content .content-wrapper .btn {
  margin-top: 32px;
  border-bottom-color: #ffffff;
}

.call-to-action-content .content-wrapper .btn:hover {
  border-bottom-color: #4CAF50;
}

.call-to-action-images {
  width: 50%;
  height: 385px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .call-to-action-images {
    width: 100%;
  }
}

/* ========== 4.7 Testimonials (_testimonials.scss) ========== */
.testimonials-wrapper {
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .testimonials-wrapper {
    display: block;
  }
}

.testimonials-title {
  width: 43.5%;
  background: linear-gradient(135deg, #1a1a1a 0%, #78D525 100%);
  padding: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (max-width: 767px) {
  .testimonials-title {
    padding: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .testimonials-title {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .testimonials-title {
    padding: 30px;
  }
}

.testimonials-title .section-title .sub-title {
  color: #4CAF50;
}

.testimonials-title .section-title .main-title {
  color: #ffffff;
}

.testimonials-items {
  width: 56.5%;
  background: linear-gradient(135deg, #000000 0%, #4CAF50 100%);
  overflow: hidden;
  position: relative;
  padding: 45px 80px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (max-width: 767px) {
  .testimonials-items {
    width: 100%;
    padding: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .testimonials-items {
    padding: 30px;
  }
}

.single-testimonials .author {
  width: 95px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.single-testimonials .name {
  font-size: 28px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-top: 18px;
}

@media only screen and (max-width: 575px) {
  .single-testimonials .name {
    font-size: 22px;
  }
}

.single-testimonials p {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.66;
}

@media only screen and (max-width: 575px) {
  .single-testimonials p {
    font-size: 16px;
  }
}

.single-testimonials .rating i {
  font-size: 14px;
  color: #ffffff;
  margin: 0 1px;
}

/* ========== 4.9 Brand (_brand.scss) ========== */
.brand-wrapper {
}

.single-brand {
  text-align: center;
}
